<!DOCTYPE html>
<html>
<head>
  <title>Thomas Rehnert</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Dosis:700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Walter+Turncoat' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
  <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
  <script type="text/javascript" src="javascripts/main.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <button class="nav navbar-nav navbar-left" id="home_link">
          Genre Jukebox
        </button>
      </div>
    </div>
  </nav>
</head>
<body>

  <div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1" id="home_header">
    <div class="col-lg-10 col-sm-10 col-lg-offset-1 col-sm-offset-1"id="header_intro_text">
      Welcome to Genre Jukebox! Select a genre from below to start that channel's radio.
    </div>
  </div>


  <div class="col-lg-8 col-md-8 col-xs-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 genre_holder">
      <div class="genre">Rap</div>
      <div class="genre">Classical</div>
      <div class="genre">Alternative</div>
      <div class="genre">Rock</div>
      <div class="genre">Metal</div>
      <div class="genre">Relax</div>
  </div>



    <!-- <div class="col-lg-12 col-md-12 col-sm-12 genres">
      <div class="col-lg-5 col-md-5 col-sm-5 genre"><p>Rock</p></div>
      <div class="col-lg-5 col-md-5 col-sm-5 genre"><p>Rap</p></div>
      <div class="col-lg-5 col-md-5 col-sm-5 genre"><p>Classical</p></div>

      <div class="col-lg-5 col-md-5 col-sm-5 genre"><p>Alternative</p></div>
      <div class="col-lg-5 col-md-5 col-sm-5 genre"><p>Metal</p></div>
      <div class="col-lg-5 col-md-5 col-sm-5 genre"><p>Relax</p></div>
    </div> -->
  



  

</body>
</html>